
.advantages {
    padding: 50px 20px;
    background-color: var(--background);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: var(--footer);
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.advantage-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantage-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid var(--akcent);
    background-color: var(--akcent-graphic);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px;
    transition: all 0.3s ease;
}

.advantage-item:hover {
    background-color: var(--akcent);
    color: var(--background);
    transform: translateY(-5px);
}

.pre-advantage {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--social-icon);
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    margin-right: 20px;
    flex-shrink: 0;
}
.advantage-item:hover .pre-advantage {
    color: var(--background);
}

.advantage-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text);
    flex: 1;
}

/* Мобільна адаптація */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .advantage-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .pre-advantage {
        margin-bottom: 10px;
    }
}