.footer {
    padding: 2rem;
    background: var(--blue);
}

.footer-navigation {
    display: block;
    place-items: center;
    
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.social {
    display: flex;
    justify-content: center;
}

.wrapper {
    list-style: none;
    width: 70px;
    
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

 .icon {
    margin: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.develop {
    text-align: center;
}
