.footer {
    z-index: 2;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 4rem;
        padding: 2rem;
        background: var(--footer-background);

    --footer-background: var(--header-footer-bg); 
}

.wrapper {
    list-style: none;
    width: 70px;

    @media screen and (min-width: 768px) {
        display: inline-flex;
    }
}

 .icon {
    margin: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
