
/* ========== SERVICES AND PRICES ==========*/
.prices {
    max-width: 480px;
    margin: 0 auto;
    background-size: cover;
    background-color: var(--background);
}

.prices-wrap {
    display: flex;
    flex-direction: column;
    // margin-bottom: 44px;
}

.prices-table {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
}

.prices-item::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #9896af;
}

.prices-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 12px;
}

.prices-item-text {
    order: -1;
}

.prices-btn {
    display: block;
    margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
screen and (min-resolution: 192dpi) and (min-width: 480px),
screen and (min-resolution: 2dppx) and (min-width: 480px) {
    .prices {
        // background-image: url(../images/services-and-prices/prices-img-mob@2x.png),
        //     linear-gradient(#111319, #111319);
    }
}

@media screen and (min-width: 768px) {
    .prices {
        max-width: 768px;
        margin: 0 auto;
        // background-image: url(../images/services-and-prices/prices-img-tab.png),
        //     linear-gradient(#111319, #111319);
    }

    .prices-table {
        font-size: 18px;
        line-height: 1.67;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .prices {
        // background-image: url(../images/services-and-prices/prices-img-tab@2x.png),
        //     linear-gradient(#111319, #111319);
    }
}

@media screen and (min-width: 1200px) {
    .prices-wrap {
        flex-direction: row;
        gap: 30px;
        background-image: none;
        padding: 10px 20px 30px;
    }

    .prices {
        max-width: 100%;
        background-size: cover;
    }

    .prices-table {
        // padding: 30px 20px;
        width: calc((100% - 30px) / 2);
        font-size: 18px;
        // background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }

    .prices-item+.prices-item {
        margin-top: 20px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .prices {
        // background-image: url(../images/services-and-prices/prices-img-deck@2x.png),
            // linear-gradient(#111319, #111319);
    }
}
