<section class="section" id="about">
    <div class="container">
        <!-- <h2 class="section-title">Про себе</h2> -->
        <ul class="about-list">
            <li class="about-item">
                <h3 class="about-title">Ласкаво просимо до нашої кондитерської!</h3>
                <ul class="about-description">
                    <li class="description-item">
                        Вітаю! Я Світлана – професійний кондитер, чий шлях у світі кондитерського мистецтва почався ще з дитячої мрії і переріс
                        у справжнє покликання. За плечима маю багаторічний досвід створення авторських десертів, які перетворюють будь-яке свято
                        на незабутню подію.
                    </li>
                    <li class="description-item">
                        У моєму кондитерському ательє Switlana-cake я створюю особливі торти, які стають справжньою окрасою важливих подій у
                        вашому житті. Кожен весільний торт я продумую до найменших деталей, щоб він став незабутньою частиною найщасливішого
                        дня. Для маленьких іменинників створюю яскраві дитячі торти з їхніми улюбленими персонажами, а для ювілеїв та
                        корпоративних подій – елегантні та вишукані композиції, що відображають важливість моменту.
                    </li>
                    <li class="description-item">
                        Окрім тортів, я з радістю створюю різноманітні десерти, які додають особливого шарму будь-якому святу. Мої авторські
                        тістечка вражають різноманітністю смаків та текстур, елегантні капкейки прикрашають святковий стіл, а ніжні макаруни та
                        домашні пироги стають улюбленими ласощами для всієї родини.
                    </li>
                    <li class="description-item">
                        Кожен десерт – це не просто випічка, це історія, розказана мовою смаку та естетики. Я вкладаю душу в кожне творіння,
                        ретельно підбираючи інгредієнти та продумуючи дизайн, щоб перевершити ваші очікування та зробити будь-яку подію
                        особливою.
                    </li>
                    <li class="description-item">
                        У Switlana-cake ви отримуєте не просто кондитерський виріб, а справжній витвір мистецтва, створений з любов'ю та увагою
                        до найменших деталей. Кожне замовлення для мене – це можливість створити щось особливе саме для вас, втілити ваші
                        побажання у смачну реальність.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>