<section class="section" id="about">
    <div class="container">
        <!-- <h2 class="section-title">Про себе</h2> -->
        <ul class="about-list">
            <li class="about-item">
                <h3 class="about-title">Ласкаво просимо до нашої кондитерської!</h3>
                <!-- <p class="about-description"> -->
                    <ul class="about-description">
                        <li>
                            Мене звати Світлана, і я - професійний кондитер з багаторічним досвідом у створенні смачних та унікальних тортів
                            і
                            випічки. Моє захоплення кондитерською справою почалося з дитинства, і тепер я з радістю ділюся своєю пристрастю
                            з вами.
                        </li>
                        <li>
                            Дякую, що завітали до нашої кондитерської! Сподіваюсь, що мої солодощі принесуть вам радість та задоволення. У
                            моєму кондитерському світі ви знайдете: Ексклюзивні торти на замовлення: Весільні, дитячі, ювілейні та будь-які
                            інші торти, які зроблять ваші свята незабутніми.
                            Кожен торт створюється з любов’ю і враховує всі ваші побажання.
                        </li>
                        <li>
                            Пироги та тістечка: Різноманітні смаки та дизайни, які задовольнять навіть найвибагливіших ласунів.
                            Капкейки та макарони: Маленькі солодкі шедеври, що додадуть вашому святу особливого шарму.
                        </li>
                    </ul>
                <!-- </p> -->
            </li>
            <!-- <li class="about-item">
                <h3 class="about-title">У моєму кондитерському світі ви знайдете:</h3>
                <p class="about-description">Ексклюзивні торти на замовлення: Весільні, дитячі, ювілейні та будь-які інші торти, які зроблять ваші свята незабутніми.
                Кожен торт створюється з любов’ю і враховує всі ваші побажання.
                Пироги та тістечка: Різноманітні смаки та дизайни, які задовольнять навіть найвибагливіших ласунів.
                Капкейки та макарони: Маленькі солодкі шедеври, що додадуть вашому святу особливого шарму.</p>

            </li>
            <li class="about-item">
                <h3 class="about-title">Чому Обирають Нас?</h3>
                <p class="about-description">Індивідуальний підхід: Кожне замовлення обговорюється детально, щоб створити справжній кулінарний витвір мистецтва, який
                відповідає вашим очікуванням.
                Якість та свіжість: Використовую тільки найсвіжіші та натуральні інгредієнти, що забезпечує неповторний смак та аромат
                кожного виробу.
                Креативність та професіоналізм: Постійно вдосконалюю свої навички та слідкую за новими тенденціями в кондитерському
                мистецтві, щоб пропонувати вам тільки найкраще.</p>
            </li>
            <li class="about-item">
                <h3 class="about-title">Наші Послуги:</h3>
                <p class="about-description">Торти на замовлення: Від класичних до ексклюзивних дизайнів.
                Капкейки та макарони: Ідеальні для вечірок, весіль та подарунків.
                Десертні столи: Комплексне оформлення святкових столів солодощами.</p>
            </li>
            <li class="about-item">
                <h3 class="about-title">Замовлення та Контакти</h3>
                <p class="about-description">Щоб зробити замовлення або отримати консультацію, будь ласка, зв’яжіться зі мною за телефоном  або
                пишіть на електронну пошту. Також ви можете залишити повідомлення на нашому сайті, і я з
                радістю вам відповім.</p>
            </li> -->
        </ul>
    </div>
</section>