<section class="section">
    <h2 class="section-title">Акції</h2>
    <p class="action-description">Зробіть заказ ...</p>
    <p class="action-title">До кінця акції залишилось:</p>
    <div class="action-wraper">
        <div class="clock">
            <div class="flipper">
                <div class="gear"></div>
                <div class="gear"></div>
                <div class="top">
                    <div class="text">00</div>
                </div>
                <div class="bottom">
                    <div class="text">00</div>
                </div>
                <div class="label">Днів</div>
            </div>
            <div class="flipper">
                <div class="gear"></div>
                <div class="gear"></div>
                <div class="top">
                    <div class="text">00</div>
                </div>
                <div class="bottom">
                    <div class="text">00</div>
                </div>
                <div class="label">Годин</div>
            </div>
            <div class="flipper">
                <div class="gear"></div>
                <div class="gear"></div>
                <div class="top">
                    <div class="text">00</div>
                </div>
                <div class="bottom">
                    <div class="text">00</div>
                </div>
                <div class="label">Хвилин</div>
            </div>
            <div class="flipper">
                <div class="gear"></div>
                <div class="gear"></div>
                <div class="top">
                    <div class="text">00</div>
                </div>
                <div class="bottom">
                    <div class="text">00</div>
                </div>
                <div class="label">Секунд</div>
            </div>
        </div>

    </div>
</section>