<section class="section" id="advantages">
    <div class="container advantages">
        <h2 class="section-title">Наші переваги</h2>
        <!-- <div class="advantages"> -->
            <div class="description">
                <!-- <h3>Чому Обирають Нас?</h3> -->
                <ul class="advantage-list">
                    <li class="advantage-item">
                        <span class="pre-advantage">- Індивідуальний підхід:</span> Кожне замовлення обговорюється детально, щоб створити неповторний кулінарний шедевр, який не лише відповідає вашим
                        очікуванням, але й перевершує їх. Враховую всі побажання щодо смаку, дизайну та дієтичних обмежень.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Якість та свіжість:</span> Використовую виключно преміальні та натуральні інгредієнти від перевірених постачальників. Кожен десерт готується
                        безпосередньо під замовлення, що гарантує максимальну свіжість та бездоганний смак.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Креативність та професіоналізм:</span> Постійно вдосконалюю свою майстерність на професійних курсах та майстер-класах, слідкую за світовими тенденціями в
                        кондитерському мистецтві, щоб створювати для вас особливі десерти.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Ексклюзивний дизайн:</span> Наші кондитерські вироби не тільки смачні, але й виглядають як витвори мистецтва. Ми створюємо унікальний декор, який
                        підкреслить вашу подію.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Різноманітність асортименту:</span> Від класичних тортів до креативних трайфлів, макарунів та капкейків – у нас знайдеться щось для кожного.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Довіра клієнтів:</span> Багато наших клієнтів стають постійними замовниками, що свідчить про високий рівень обслуговування та якість продукції.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Гнучкість у замовленнях:</span> Можливість термінового виконання замовлень та зручна система доставки. Пропоную різні варіанти розміру порцій та
                        оформлення, щоб задовольнити будь-які потреби клієнтів.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Зворотний зв'язок:</span> Завжди відкрита до спілкування з клієнтами, враховую всі побажання та відгуки для постійного вдосконалення сервісу та
                        якості продукції.
                    </li>
                </ul>
            </div>
           
        <!-- </div> -->
    </div>
</section>