<section class="section" id="advantages">
    <div class="container advantages">
        <h2 class="section-title">Наші переваги</h2>
        <!-- <div class="advantages"> -->
            <div class="description">
                <!-- <h3>Чому Обирають Нас?</h3> -->
                <ul class="advantage-list">
                    <li class="advantage-item">
                        <span class="pre-advantage">- Індивідуальний підхід:</span> Кожне замовлення обговорюється детально, щоб створити справжній кулінарний витвір мистецтва, який
                        відповідає вашим очікуванням.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Якість та свіжість:</span> Використовую тільки найсвіжіші та натуральні інгредієнти, що забезпечує неповторний смак
                        та аромат кожного виробу.
                    </li>
                    <li class="advantage-item">
                        <span class="pre-advantage">- Креативність та професіоналізм:</span> Постійно вдосконалюю свої навички та слідкую за новими тенденціями в
                        кондитерському мистецтві, щоб пропонувати вам тільки найкраще.
                    </li>
                </ul>
            </div>
           
        <!-- </div> -->
    </div>
</section>