<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">


<section class="section gallerySection" id="my_works">
    <div class="container galleryContainer">
        <h2 class="section-title">Мої роботи</h2>

        <ul class="galleryList">
            <li class="listItem">
                
                <div class="description">
                    <h3 class="line">Торти</h3>
                </div>
        
                <div class="additional-content">
                    <ul class="container__gallery" id="cakes">
                    
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Капкейки</h3>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="cupCakes">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Трайфли</h3>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="traifle">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Макаруні</h3>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="makarons">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Пасхи</h3>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="easterCakes">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Інше</h3>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="other">
            
                    </ul>
                </div>
            </li>
        
            <!-- <li class="listItem">
            
                <div class="avatar"></div>
            
                <div class="description">
                    <div class="line">Торти</div>
                    <div class="line"></div>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="cakes">
                        <div class="chunk"></div>
                        <div class="chunk"></div>
                        <div class="chunk"></div>
                    </ul>
                </div>
            </li> -->
        </ul>
        
    </div>
</section>
