<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">


<section class="section gallerySection" id="products">
    <div class="container galleryContainer">
        <h2 class="section-title">Наша продукція</h2>

        <ul class="galleryList">
            <li class="listItem">
                
                <div class="description">
                    <h3 class="line">Торти</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/cakes/1x/2desk@1x.jpg 1x, 
                            ./images/gallery/cakes/2x/2desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/cakes/1x/2tab@1x.jpg 1x, 
                            ./images/gallery/cakes/2x/2tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/cakes/1x/2mob@1x.jpg 1x, 
                            ./images/gallery/cakes/2x/2mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/cakes/1x/2desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
        
                <div class="additional-content">
                    <ul class="container__gallery" id="cakes">
                    
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Капкейки</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/cupCakes/1x/8desk@1x.jpg 1x, 
                            ./images/gallery/cupCakes/2x/8desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/cupCakes/1x/8tab@1x.jpg 1x, 
                            ./images/gallery/cupCakes/2x/8tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/cupCakes/1x/8mob@1x.jpg 1x, 
                            ./images/gallery/cupCakes/2x/8mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/cupCakes/1x/8desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="cupCakes">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Трайфли</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/traiffle/1x/2desk@1x.jpg 1x, 
                            ./images/gallery/traiffle/2x/2desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/traiffle/1x/2tab@1x.jpg 1x, 
                            ./images/gallery/traiffle/2x/2tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/traiffle/1x/2mob@1x.jpg 1x, 
                            ./images/gallery/traiffle/2x/2mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/traiffle/1x/2desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="traifle">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Макаруні</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/makarons/1x/1desk@1x.jpg 1x, 
                            ./images/gallery/makarons/2x/1desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/makarons/1x/1tab@1x.jpg 1x, 
                            ./images/gallery/makarons/2x/1tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/makarons/1x/1mob@1x.jpg 1x, 
                            ./images/gallery/makarons/2x/1mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/makarons/1x/1desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="makarons">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Пасхи</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/easterCakes/1x/1desk@1x.jpg 1x, 
                            ./images/gallery/easterCakes/2x/1desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/easterCakes/1x/1tab@1x.jpg 1x, 
                            ./images/gallery/easterCakes/2x/1tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/easterCakes/1x/1mob@1x.jpg 1x, 
                            ./images/gallery/easterCakes/2x/1mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/easterCakes/1x/1desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="easterCakes">
            
                    </ul>
                </div>
            </li>

            <li class="listItem">
            
                <div class="description">
                    <h3 class="line">Інше</h3>
                    <picture>
                        <source srcset="
                            ./images/gallery/other/1x/9desk@1x.jpg 1x, 
                            ./images/gallery/other/2x/9desk@2x.jpg 2x"
                            media="(min-width:1200px)"/>
                        <source srcset="
                            ./images/gallery/other/1x/9tab@1x.jpg 1x, 
                            ./images/gallery/other/2x/9tab@2x.jpg 2x"
                            media="(min-width:768px)"/>
                        <source srcset="
                            ./images/gallery/other/1x/9mob@1x.jpg 1x, 
                            ./images/gallery/other/2x/9mob@2x.jpg 2x"
                            media="(max-width:767px)"/>
                        <img
                            src='./images/gallery/other/1x/9desk@1x.jpg'
                            alt='' 
                            width="250" 
                            height="200" 
                            loading="lazy"
                            sizes="226.8046875px"
                        />
                    </picture>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="other">
            
                    </ul>
                </div>
            </li>
        
            <!-- <li class="listItem">
            
                <div class="avatar"></div>
            
                <div class="description">
                    <div class="line">Торти</div>
                    <div class="line"></div>
                </div>
            
                <div class="additional-content">
                    <ul class="container__gallery" id="cakes">
                        <div class="chunk"></div>
                        <div class="chunk"></div>
                        <div class="chunk"></div>
                    </ul>
                </div>
            </li> -->
        </ul>
        
    </div>
</section>
