<header class="header" >
    <!-- <div class="container" > -->
        <div class="headerContent">
            <a class="logo-header" href="./index.html">
                Switlana-cake
                <!-- <picture>
                    <source srcset="
                    ./images/header/logo-desk-1x.png 1x,
                    ./images/header/logo-desk-2x.png 2x
                    "
                    media="(min-width: 1280px)"/>
                    <img src="" alt="Логотип " width="66" />
                </picture> -->
            </a>
            <nav class="navigation">
                <ul class="navigation_list list">
                    <!-- <li class="navigation_item">
                        <a class="navigation_link" href="#home">Home</a>
                    </li> -->
                    <li class="navigation_item">
                        <a class="navigation_link" href="#about">Про себе</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link"  href="#advantages">Наші переваги</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link" href="#products">Наша продукція</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link"  href="#price">Ціни</a>
                    </li>
                    <li class="navigation_item">
                        <a class="navigation_link"  href="#contacts">Контакти</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="mobile-menu-btn js-open-menu">
                <!-- <img class="mobile-menu-icon" src="./images/menu-hamburger.svg" alt="icon-menu-hamburger" width="24" height="16"> -->
                <!-- <svg class="mobile-menu-icon" width="24" height="16">
                    <use href="./images/sprite.svg#icon-menu-hamburger"></use>
                </svg> -->
                <svg class="mobile-menu-icon" width="24" height="16" viewBox="0 0 47 32">
                    <path d="M0 5.333v-5.333h48v5.333h-48zM0 18.667h48v-5.333h-48v5.333zM0 32h48v-5.333h-48v5.333z"></path>
                </svg>
            </button>
        </div>
    <!-- </div> -->
    <div class="mobile-menu js-menu-container">
            <div class="container mobile-menu-container">
                <button class="mobile-menu-close-bnt js-close-menu">
                    <!-- <svg class="menu-modal-button-icon" width="40" height="40">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg> -->
                    <svg class="menu-modal-button-icon" width="40" height="40" viewBox="0 0 32 32">
                        <path
                            d="M23.733 10.304l-1.504-1.504-5.963 5.963-5.963-5.963-1.504 1.504 5.963 5.963-5.963 5.963 1.504 1.504 5.963-5.963 5.963 5.963 1.504-1.504-5.963-5.963 5.963-5.963z">
                        </path>
                    </svg>
                </button>
                <ul class="mobile-header-menu list">
                    <!-- <li class="menu-item">
                        <a class="menu-link" href="#hero">home</a>
                    </li> -->
                    <li class="menu-item">
                        <a class="menu-link" href="#about">Про себе</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#advantages">Наші переваги</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#products">Наша продукція</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#price">Ціни</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#contacts">Контакти</a>
                    </li>
                </ul>
            </div>
        </div>
</header>