<section class="section " id="price">
    <div class="container prices">
        <h2 class="section-title">Ціни</h2>

        <div class="prices-wrap">
            <ul class="prices-table list">
                <li class="prices-item">
                    <p class="prices-item-text">Рибний торт</p>
                    <p>1000 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Морквяно-горіховий</p>
                    <p>850 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Чорниця-апельсин</p>
                    <p>850 грн/кг.</p>
                </li>
                
                <li class="prices-item">
                    <p class="prices-item-text">Червоний оксамит з вишнею”</p>
                    <p>800 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Snickers</p>
                    <p>800 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Торт “Три шоколада”</p>
                    <p>800 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Полуниця-мятний мус</p>
                    <p>800 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Торт банановий</p>
                    <p>800 грн/кг.</p>
                </li>
            </ul>
            <ul class="prices-table list">
                <li class="prices-item">
                    <p class="prices-item-text">Чізкейк</p>
                    <p>750 грн/2кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Торт цифра</p>
                    <p>700 грн/кг.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Наполеон</p>
                    <p>650 грн/кг.</p>
                </li>
                
                <li class="prices-item">
                    <p class="prices-item-text">Меренговий рулет</p>
                    <p>650 грн/рулет.</p>
                </li>
                
                <li class="prices-item">
                    <p class="prices-item-text">Трайфли</p>
                    <p>120 грн/шт.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Капкейки</p>
                    <p>100 грн/шт.</p>
                </li>
                <li class="prices-item">
                    <p class="prices-item-text">Домашні торти під замовлення</p>
                    <p>550 грн/кг.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
    